.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #f0650d;
  text-shadow: 2px 4px 4px rgb(0,0,0);
  padding: 3px 30px;
  font-size: 14px;
  font-weight: 200;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: background-color .1s ease;
  cursor: pointer;
}

.button::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

.button:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #f2a472;
}

.button:hover::after {
  opacity: .22;
}

.button:active {
  background-color: #d85b0c;
}

.button:active::after {
  opacity: .32;
}

 .button-grey {
  background-color: #5f676e;
}

.button-grey::after {
  background-color: #2a3339;
}

.button-grey:hover {
  background-color: #7e919f;
}

.button-grey:hover::after {
  opacity: .22;
}

.button-grey:active {
  background-color: #404d56;
}

.button-grey:active::after {
  opacity: .32;
}
/*--------LOGING FORM BUTTONS--------*/
button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #f0650d;
  text-shadow: 3px 2px 2px rgb(0,0,0);
  padding: 3px 30px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: background-color .2s ease;
  cursor: pointer;
}

button::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

button:focus, button:hover {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #f2a472;
}

button:hover::after {
  opacity: .1;
}

button:active {
  background-color: #d85b0c;
}

button:active::after {
  opacity: .32;
}
